<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.last.pay.core.db.mapper.gamedb.ParamConfigMapper">
	<select id="getParamConfigByKey" resultType="com.last.model.game.ParamConfig">
		select
			`key`,`value`
		from
		ParamConfig where `Key`=#{key}
	</select>
 </mapper>